@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 115, 0.9);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 255, 115, 0.9);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 115, 0.9);
    }
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.calendar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: rgb(140, 0, 255);
    background-color: rgba(255, 255, 255, 0.8);
    animation: pulse-shadow 2s infinite;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;

    @media (max-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        height: calc(100vh - 150px);
        overflow-y: auto;
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 375px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.month-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    @media (max-width: 480px) {
        margin-bottom: 10px;
    }
}

.month-switcher button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: rgb(140, 0, 255);
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;

    @media (max-width: 480px) {
        padding: 5px 10px;
        font-size: 16px;
    }
}

.month-switcher span {
    font-size: 30px;

    @media (max-width: 480px) {
        font-size: 20px;
    }
}

.day {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;

    @media (max-width: 480px) {
        padding: 5px;
    }
}

.day:hover {
    background-color: rgba(0, 255, 115, 0.9);
}

.day span {
    font-size: 18px;

    @media (max-width: 480px) {
        font-size: 12px;
    }
}

.day .tasks {
    font-size: 14px;
    color: #666;
}
