@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(140, 0, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 10px 20px rgba(140, 0, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(140, 0, 255, 0);
    }
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.day span {
    font-size: 14px;
}

.day.has-tasks {
    animation: pulse 1.5s infinite;
}

.day:hover {
    background-color: rgba(140, 0, 255, 0.3);
}

@keyframes holiday-pulse {
  0% {
    box-shadow: 0 0 10px rgba(140, 0, 255, 0.9);
  }
  50% {
    box-shadow: 0 0 20px rgba(140, 0, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 10px rgba(140, 0, 255, 0.9);
  }
}

.day.holiday {
  background-color: rgba(140, 0, 255, 0.2); /* Светло-фиолетовый фон */
  color: rgb(140, 0, 255); /* Фиолетовый текст */
//   animation: holiday-pulse 2s infinite;
}