body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('https://img.freepik.com/free-vector/gradient-abstract-background_1048-10800.jpg?w=1060&t=st=1717274577~exp=1717275177~hmac=911b624c2563459493424c241d8bd1dda6d7215a662f2bf269892a96970fc986');
    background-size: cover;
    background-position: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}